
#display-zone{
	width: 100%;
}

#input-zone{
	padding: 1rem;
}

.container{
  margin-left: 3%;
}

.box {
	border: solid black 1px;
	padding: 4rem;
	margin: 1rem;
}

.croak-listitem {
	margin-left: .5rem;
}

.croak-content {

}

p{
  font-size: larger;
}

.banner{
	width: 100%;
	border-bottom: 1px black solid;
	top: 0px;
	position: static;
}

.banner-title{
	margin-left: 2rem;
}

.footer{
	position: relative;
  	bottom: 0;
  
	margin: auto;
	width: 96%;
	padding: 2rem;
	border-top: dotted black 1px;
}
